<?php

require __DIR__ . DIRECTORY_SEPARATOR . 'vendor/autoload.php';

$command = new PhpUnitCoverageBadge\Command(
    new PhpUnitCoverageBadge\ReportParser\CloverReportParser(), new PhpUnitCoverageBadge\BadgeGenerator()
);
$command->run();

